@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&display=swap');

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-rows: auto;
    min-height: 100vh;
    background-color: rgb(255, 243, 244);
    color: rgb(83, 83, 83);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
}

header p {
    font-size: 1.25rem;
    margin: 0;
}

h1 {
    font-size: 4.5rem;
    margin: 0;
    font-family: 'Moo Lah Lah', cursive;
    letter-spacing: 1px;
}

#spots {
    height: 12px;
    background-color: grey;
    display: none;
}

h2 {
    margin: 15px auto;
    text-align: center;
}

#display {
    display: flex;
    gap: 20px;
    align-content: center;
    justify-content: space-evenly;
    width: 95%;
    padding-bottom: 5%;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    margin: 0;
    place-content: center;
    background-color: white;
}

.numberContainer {
    display: flex;
    align-items: flex-start;
}

.letterHeader {
    display: flex;
}

.numberHeader {

}

.letterSpace, .numberSpace {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taken {
    color: white;
}

.taken1 {
    background-color: rgb(222, 160, 171);
}

.taken2 {
    background-color: rgb(59, 180, 137);
}

.taken3 {
    background-color: rgb(80, 117, 204);
}

.taken4 {
    background-color: rgb(232, 179, 20);
}

.space {
    border: 1px solid grey;
    display: grid;
    place-items: center;
}

.hit {
    background-image: url(./images/cow.png);
    background-position: center;
    background-size: cover;
}

.missed {
    background-image: url(./images/grass.png);
    background-position: center;
    background-size: cover;
}

.dot {
    height: 3px;
    width: 3px;
    background-color: black;
    border-radius: 50%;
}

.space.computer:hover {
    background-color: rgb(197, 197, 215);
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}