@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Londrina+Solid&family=Nunito:wght@400;700&display=swap');

:root {
    --yellow: #f3e080;
}

html {
    cursor: url(./images/cursor.png), default;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;    
    display: grid;
    grid-template-rows: auto;
    min-height: 100vh;
    background-color: #fbf9f8;
    color: rgb(83, 83, 83);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--yellow); 
}

header h1 {
    font-size: 4.5rem;
    margin: 2rem 0 1rem 3rem;
    letter-spacing: 1px;
    font-family: 'Londrina Sketch', cursive;
}

main {
    padding-left: 3rem;
    padding-right: 3rem;
}

main h2 {
    margin: 15px auto;
    text-align: left;
    margin-left: 10%;
}

/* main p {
    font-size: 1.2rem;
    margin-top: 2rem;
} */

#display {
    display: flex;
    gap: 20px;
    align-content: center;
    justify-content: space-around;
    padding-bottom: 5%;
    margin-top: 4rem;
}

.board {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(10, minmax(10px, 1fr));
    grid-template-columns: repeat(10, minmax(10px, 1fr));
    margin: 0;
    place-content: center;
    gap: 3px;
}

.boardContainer {
    height: 100%;
    width: 100%;
}

.numbersAndBoard {
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.letterHeader {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    width: 100%;
}

.numberHeader {
    display: grid;
    grid-template-rows: (repeat(10, 1fr));
    height: 100%;
    width: 10%;
}

.letterSpace, .numberSpace {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.fullBoard {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-height: 300px;
    min-width: 300px;
    height: 33vw;
    width: 33vw;
    padding-right: max(2vw, 30px);
    padding-bottom: max(2vw, 30px);

}

/* .computerBoard {
    min-height: 400px;
    min-width: 400px;
    height: 40vw;
    width: 40vw;
}

.youBoard {
    min-height: 300px;
    min-width: 300px;
    height: 30vw;
    width: 30vw;
} */

/* .computerCard {
    padding-right: max(5vw, 40px);
    padding-bottom: max(5vw, 40px);
}

.youCard {
    padding-right: max(4vw, 32px);
    padding-bottom: max(4vw, 32px);
} */

.taken1 {
    background: rgb(222, 160, 171) url(./images/smile.png) no-repeat center;
    background-size: 80%;
}

.taken2 {
    background: rgb(59, 180, 137) url(./images/smile.png) no-repeat center;
    background-size: 80%;
}

.taken3 {
    background: rgb(80, 117, 204) url(./images/smile.png) no-repeat center;
    background-size: 80%;
}

.taken4 {
    background: rgb(232, 179, 20) url(./images/smile.png) no-repeat center;
    background-size: 80%;
}

.space {
    border: 1px solid grey;
    display: grid;
    place-items: center;
    border-radius: 5px;
}

@keyframes glow {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 
        2px 0px 5px 3px #f9cd1f, 
        0px 2px 5px 3px  #f9cd1f, 
        -2px 0px 5px 3px  #f9cd1f, 
        0px -2px 5px 3px  #f9cd1f;
    }
}

.hit {
    background: var(--yellow) url(./images/smile.png) no-repeat center;
    background-size: 80%;
    animation: glow 1s linear alternate infinite;
}

.missed {
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.iceCream {
    background-image: url(./images/ice-cream.png);
    background-color: rgb(251, 217, 223);
}

.lollipop {
    background-image: url(./images/lollipop.png);
    background-color: rgb(216, 251, 229);
}

.cat {
    background-image: url(./images/cat.png);
    background-color: rgb(238, 217, 251);
}

.panda {
    background-image: url(./images/panda.png);
    background-color: rgb(255, 220, 167);
}

.dot {
    height: 3px;
    width: 3px;
    background-color: black;
    border-radius: 50%;
}

.space.computer:hover {
    background-color: #f7f0ec;
}

.computerSpaces:hover {
    cursor: url(./images/pointer.png), pointer;
}

.space.computer:active {
    transform: scale(.9);
}

@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.announcement {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    animation: linear .5s fadein;
    font-size: 3rem;
    background-color: white;
    height: 30%;
    width: 30%;
    box-shadow: -2px 2px 5px grey;
    display: grid;
    place-items: center;
}

h3 {
    margin: 0;
}

.loser {
    background-color: rgb(225, 225, 225);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}