body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#display {
    display: flex;
    gap: 20px;
    align-content: center;
    justify-content: space-evenly;
    width: 95%;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    margin: 0;
    place-content: center;
}

.numberContainer {
    display: flex;
    align-items: flex-start;
}

.letterHeader {
    display: flex;
}

.numberHeader {

}

.letterSpace, .numberSpace {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taken {
    color: white;
}

.taken1 {
    background-color: rgb(222, 160, 171);
}

.taken2 {
    background-color: rgb(59, 180, 137);
}

.taken3 {
    background-color: rgb(80, 117, 204);
}

.taken4 {
    background-color: rgb(232, 179, 20);
}

.space {
    border: 1px solid grey;
    display: grid;
    place-items: center;
}

.hit {
    background-color: red;
}

.missed {
    background-color: rgb(224, 224, 224);
}

.dot {
    height: 3px;
    width: 3px;
    background-color: black;
    border-radius: 50%;
}

.space.computer:hover {
    background-color: rgb(197, 197, 215);
    cursor: pointer;
}